*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
api-key.properties
*.env
*.secrets
app/google-services.json
secret.properties
.idea/
!.idea/codeStyles/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/runConfigurations/